// Available theme colors
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';
@import 'theme';

@include mat-core();

@include angular-material-theme($tanam-admin-theme);

@include mat-datetimepicker-theme($dateTimePickerTheme);

.tanam-dark-theme {
  @include angular-material-theme($tanam-admin-dark-theme);
}

.tanam-light-theme {
  @include angular-material-theme($tanam-admin-theme);
}

.tanam-splash {
  background-color: mat-color($tanam-brand-color);
}

body, html {
  height: 100%;
}

body {
  margin: 0;
}
